.block_recommend_courses .searchform {text-align: center;}
.block_recommend_courses .searchform img {vertical-align: middle;}
.block_recommend_courses .searchform img.resize {width: 1em;height: 1.1em;}
.block_recommend_courses .invisiblefieldset {display: block;}