<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
	<!-- basic scripts -->

		<!--[if !IE]> -->

		

		<!-- <![endif]-->

		<!--[if IE]>

<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/admin/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/admin/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__PUBLIC__/admin/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="__PUBLIC__/admin/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__PUBLIC__/admin/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__PUBLIC__/admin/js/jquery.slimscroll.min.js"></script>
		<script src="__PUBLIC__/admin/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__PUBLIC__/admin/js/jquery.sparkline.min.js"></script>
		<script src="__PUBLIC__/admin/js/flot/jquery.flot.min.js"></script>
		<script src="__PUBLIC__/admin/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__PUBLIC__/admin/js/flot/jquery.flot.resize.min.js"></script>


		<!-- page specific plugin scripts -->

		<script src="__PUBLIC__/admin/js/jquery.dataTables.min.js"></script>
		<script src="__PUBLIC__/admin/js/jquery.dataTables.bootstrap.js"></script>

		<!-- ace scripts -->

		<script src="__PUBLIC__/admin/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/admin/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

	
	</body>
</html>
