{:W('TopBar/topbar')}
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				{:W('TopBar/leftbar')}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="{:U('Index/index')}">首页</a>
							</li>

							<li>
								<a href="#">投保人管理</a>
							</li>
							<li class="active">电子券信息</li>
						</ul><!-- .breadcrumb -->
					</div>

					<div class="page-content">
						<div class="page-header">
						 <form action="" method="get">
										<div style="margin-bottom:10px;" class="col-sm-11">
											<span class="input-icon input-icon-right">
											<input  type="text" id="userid" placeholder="投保人ID" name="userid" style="height:32px;width:120px;" value="{$Think.get.userid}">
											</span>
											<input  class=" btn-lg btn-success btn btn-xs btn-danger" type="submit" value="搜索">
										</div>
										<a class="label label-xlg label-primary arrowed-right pull-right " href="{:U('Coupons/add')}">
							添加电子券</a>
						</form>
						</div>
						<div class="form-group">

						</div>

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-bordered table-hover">
												<thead>
													<tr>
														<th>操作</th>
														<th>ID</th>
														<th>起始日期</th>
														<th>终止日期</th>
														<th>投保人ID</th>
														<th>状态</th>
														<th>价值</th>
														
														<!-- <th>账号积分</th>
														<th>操作</th> -->
														<!-- <th>审核</th>
														<th>排序</th>
														<th class="hidden-480">创建时间</th>
														<th>操作</th> -->
													</tr>
												</thead>

												<tbody>
												 <volist name="list" id="v">
													<tr>
													<td>
															<div class="btn-group">


																<a href="{:U('Coupons/edit',array('id'=>$v['id']))}" class="btn btn-xs btn-info">
																	<i class="icon-edit bigger-120"></i>
																</a>

																<a onclick="if(confirm('确认删除?')) location.href='{:U('Coupons/del',array('id'=>$v[id]))}'"  href="javascript:;"  class="btn btn-xs btn-danger">
																	<i class="icon-trash bigger-120"></i>
																</a>


															</div>


														</td>
														<td>
															{$v.id}
														</td>
														<td>{$v.date}</td>
														<td>{$v.enddate}</td>
														<td>{$v.userid}</td>
														<td>
														<if condition="$v.status eq 0">已使用
														<elseif condition="$v.status eq 1" />未使用
														<else/>{$v.status}</if>
														</td>
														
														<td>{$v.value}元</td>
														

													</tr>
												</volist>

												</tbody>
											</table>

										</div><!-- /.table-responsive -->
										<div class="col-sm-6 pull-right">
											<div class="dataTables_paginate paging_bootstrap ">
												<ul class="pagination ">
												{$page}
												</ul>
											</div>
										</div>
									</div><!-- /span -->
								</div><!-- /row -->




							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->


			</div><!-- /.main-container-inner -->
<include file="Public:footer" />
<!-- 下面是时间的参数 -->
<script type="text/javascript">
			$(function(){



		var logic = function( currentDateTime ){
			if( currentDateTime.getDay()==6 ){
				this.setOptions({
					minTime:'11:00'
				});
			}else
				this.setOptions({
					minTime:'8:00'
				});
		};
		$('#starTime').datetimepicker({
			lang:'ch',
			step:30,
		});
		$('#endTime').datetimepicker({
			lang:'ch',
			step:30,
		});

		});
</script>
