{:W('TopBar/topbar')}
<style type="text/css">
	
	.wminimize:hover{
		text-decoration:none;
	}
	.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
			padding: 8px;
			line-height: 1.428571429;
			vertical-align: top;
			 border-top: 0px solid #ddd; 
}
</style>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				{:W('TopBar/leftbar')}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="{:U('Index/index')}">首页</a>
							</li>

							<li>
								<a href="#">权限管理</a>
							</li>
							<li class="active">节点列表</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">
						<div class="page-header">
						 
							<a class="label label-xlg label-primary arrowed-right " href="{:U('Node/add')}">
							添加节点</a>
							
							
							
						</div>

				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->

						<div class="row">
							<div class="col-xs-12">
								<div class="table-responsive" >
									<table id="sample-table-1" class="table table-hover"  >
										<volist name="list" id="val">
											<tr>
											  <th colspan="6">{$val.title}<a href="{:U('Node/edit',array('id'=>$val['id']))}" class="wminimize">[修改]</a><a onclick="if(confirm('确认删除?')) location.href='{:U('Node/del',array('id'=>$val[id]))}'" style="cursor: pointer;" class="wminimize">[删除]</a></th>
											</tr>
											<volist name="val.child" id="vo">
												<tr >
												  <td >&nbsp;&nbsp;<span>{$vo.title}<a href="{:U('Node/edit',array('id'=>$vo['id']))}" class="wminimize">[修改]</a><a onclick="if(confirm('确认删除?')) location.href='{:U('Node/del',array('id'=>$vo[id]))}'" style="cursor: pointer;" class="wminimize">[删除]</a></span></td>
												  <volist name="vo.child" id="v">
													 <td >&nbsp;&nbsp;<span>{$v.title}<a href="{:U('Node/edit',array('id'=>$v['id']))}" class="wminimize">[修改]</a><a onclick="if(confirm('确认删除?')) location.href='{:U('Node/del',array('id'=>$v[id]))}'" style="cursor: pointer;"  class="wminimize">[删除]</a></span></td>
												  </volist>
												</tr>                                                            
											</volist>
										</volist>
									</table>
									
								</div><!-- /.table-responsive -->
								<div class="col-sm-6 pull-right">
									<div class="dataTables_paginate paging_bootstrap ">
										<ul class="pagination ">
										
										</ul>
									</div>
								</div>
							</div><!-- /span -->
						</div><!-- /row -->

					

					
					</div><!-- /.col -->
				</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			
			</div><!-- /.main-container-inner -->

			
<include file="Public:footer" />
