{:W('TopBar/topbar')}

	<style type="text/css">
		
		.onShow{
			height:30px;display:block;float:right;margin-right:335px;width:140px
		}
		.onError{
			height:30px;display:block;float:right;margin-right:335px;width:140px
		}
		.onFocus{
			height:30px;display:block;float:right;margin-right:335px;width:140px
		}
		.onCorrect{
			height:30px;display:block;float:right;margin-right:335px;width:140px
		}

	</style>	
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				{:W('TopBar/leftbar')}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="javascript:void(0)">基本设置</a>
							</li>
							<li class="active">网站设置</li>
						</ul><!-- .breadcrumb -->

						
					</div>

					<div class="page-content">
						<div class="page-header">
						 <a class="label label-xlg label-primary arrowed " href="javascript:void(0)">
							网站设置</a>
							
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" action="" method="post" id="myform">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 网站名称： </label>

										<div class="col-sm-9">
											<input type="text"  placeholder="网站名称" class="col-xs-5" name="name" value="{$info.name}" />
											
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 网站标题： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="网站标题" class="col-xs-5"  name="title"  value="{$info.title}" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 网站域名： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="网站域名" class="col-xs-5"  name="domain"  value="{$info.domain}" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司地址： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="公司地址" class="col-xs-5"  name="address"  value="{$info.address}" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 网站关键字： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="网站关键字" class="col-xs-5"  name="keyword"  value="{$info.keyword}" />
											
										</div>
									</div>
									
									
                                  <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 网站版权信息： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="网站版权信息" class="col-xs-5"  name="copyright"  value="{$info.copyright}" />
											
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 联系我们： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="联系我们" class="col-xs-5"  name="iphone"  value="{$info.iphone}" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司电话： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="公司电话" class="col-xs-5"  name="phone"  value="{$info.phone}" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司地址： </label>

										<div class="col-sm-9">
											<input type="text"   placeholder="公司地址" class="col-xs-5"  name="address"  value="{$info.address}" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 网站描述： </label>

										<div class="col-sm-9">
										  <textarea  type="text"  style="width:350px;height:100px;" name="desc" id="descs" placeholder="关键字描述" >{$info.desc}</textarea>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 关于我们： </label>

										<div class="col-sm-9">
										  <textarea id="desc" placeholder="关于我们"  name="content" style="width:700px;height:300px;">{$info.content}
										</textarea>
											
										</div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
										   <input type="hidden" name="id" value="{$info.id}">
											<button class="btn btn-info" type="button" id="button">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

										
										</div>
									</div>

								

									
								</form>

								

							
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

	<include file="Public:footer" />
	<script type="text/javascript">
	 $(function(){
	 	$("#button").click(function(){
		 		KindEditor.ready(function(K) {
					editor = K.create('textarea[name="content"]');
					});
				content = editor.html();
				
				editor.sync('desc');
				editor.html('desc', content);
				
			$("#myform").submit();
	 	});
	 });
	</script>



