{:W('TopBar/topbar')}

		<link rel="stylesheet" href="__PUBLIC__/upload/themes/default/default.css" />
		<script src="__PUBLIC__/upload/kindeditor.js"></script>
		<script src="__PUBLIC__/upload/lang/zh_CN.js"></script>
		<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#J_selectImage').click(function() {
					editor.loadPlugin('multiimage', function() {
						editor.plugin.multiImageDialog({
							clickFn : function(urlList) {
								var div = K('#J_imageView');
								div.html('');
								K.each(urlList, function(i, data) {
									div.append('<img style="width:130px;height：30px;margin-top:20px;margin-right:8px;"src="' + data.url + '">');
								});
								editor.hideDialog();
							}
						});
					});
				});
			});
		</script>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				{:W('TopBar/leftbar')}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="{:U('Car/index')}">车辆信息</a>
							</li>
							<li class="active">添加车辆</li>
						</ul><!-- .breadcrumb -->


					</div>

					<div class="page-content">
						<div class="page-header">
						 <a class="label label-xlg label-primary arrowed " href="{:U('Car/index')}">
							返回列表</a>

						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" action="" method="post" id="myform">

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 车牌号： </label>

										<div class="col-sm-9">
											<input type="text" id="platenumber" placeholder="车牌号" class="col-sm-4" name="platenumber"  value="{$info.platenumber}" />

										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户ID： </label>

										<div class="col-sm-9">
											<input type="text" id="userid" placeholder="用户ID" class="col-sm-4"  name="userid" value="{$info.userid}" />

										</div>
									</div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" id="button" type="submit">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>
								</form>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->


			</div><!-- /.main-container-inner -->


	<include file="Public:footer" />
<script type="text/javascript">
	$(function(){
		$("#button").click(function(){


			var platenumber=$("#platenumber").val();
			var brandid=$("#brandid").val();
			var type=$("#type").val();
			var value=$("#value").val();
			var userid=$("#userid").val();



			if(platenumber==''){
				layer.alert('车牌号必须填写', {icon: 5});
				return false;
			}else if(brandid==''){
				layer.alert('brandid必须填写', {icon: 5});
				return false;
			}else if(type==''){
				layer.alert('类型必须填写', {icon: 5});
				return false;
			}else if(value==''){
				layer.alert('价值必须填写', {icon: 5});
				return false;
			}else if(userid==''){
				layer.alert('用户ID必须填写', {icon: 5});
				return false;
			}else{
				$("#myform").submit();
			}
		});
	});
</script>
